@media screen and (orientation: portrait) { 
        #game-canvas{
            left:0;
        }
        #win-canvas{
            left: 1%;
        }
        .line-info{
            top: 47%;
            transform: translateY(-50%);
            bottom: auto;

        }
        .credit-text,
        .bet-text{
            font-size: 1.25em;
        }
        .bet-btns{
            display: none;
        }
        .extra-btns{
            display: none;
        }
        .gameUI{
            height: 10%;
        }
        .game-btns{
            display: none;
        }
        .btn-start-container{
            width: 100%;
            height: 100%;
        }
    
        .mobile-btns{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;
            top: 50%;
            height: 40%;
        }
        .mobile-container{
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60%;
        }
        .mobile-stop-button,
        .mobile-collect-button{
            display: none;
        }
        
        .mobile-bet,
        .mobile-auto{
            font-size: 1em;
            width: 20%;
            height: 38%;
            background-color:rgba(126,135,238,0.9);
            border-radius: 0.25em;
            border: 0.6vw solid #616cea;
            color: white;
        }
    
        .misc-buttons{
            width: 15%;
            height: 100%;
            left: auto;
            right: 0;
            justify-content: center;
        }
        .volume-btn,
        .fullscreen-btn{
            display: none;
        }
        .info-btn{
            border-radius: 0.15em;
            border: 0.31vw solid white;
            width: 75%;
            height: 60%;
        }
        .spin-btns{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60%;
           
        }
        .mobile-misc-menu{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 100%;
        }
        .mobile-misc-menu-btn{
            width: 75%;
            height: 60%;
            background-color: transparent;
            border: 0.31vw solid white;
            border-radius: 0.15em;
            color: white;
        }
        .info-container{
            width: 70%;
            justify-content: space-around ;
        }
        
        .mobile-stop-button,
        .mobile-collect-button,
        .mobile-start-button{
            font-size: 4em;
            width:60%;
            border-radius: 0.1em;
            height: 75%;
         
        }
        .mobile-start-button{
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            color: white;
            background-color:rgba(50, 205, 50,0.8);
            border: 0.6vw solid #239023;
        }
        .mobile-stop-button{
            display: none;
            justify-content: center;
            align-items: center;
            color: white;
            background-color:rgba(232,35,93,0.9);
            border: 0.6vw solid #616cea;
        }
        .mobile-collect-button{
            display: none;
            justify-content: center;
            align-items: center;
            color: white;
            background-color:rgba(255,136,0,0.9)
        }
        #win-container{
            display: none;
        }
        .mobile-pop-up{
            display: none;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            top: 1%;
            position: absolute;
            left: 0.5%;
            width: 99%;
            height: 88%;
            border-style: inset;
            border: 0.2vh solid white;
            border-radius: 3vh;
            background-color: #333333;
        }
        .pop-up-label-menu,
        .pop-up-misc,
        .pop-up-bet-btns,
        .pop-up-bet-info-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pop-up-label-menu{
            height: 10%;
            color: white;
        }
        /*  SECTION MISC */
        .pop-up-misc{
            height: 10%;
        }
        .pop-up-misc-btns{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60%;
            height: 85%;
        }
        .pop-up-misc-btns > button{
            height: 95%;
            width: 25%;
            font-size: 1em;
        }
      
        .pop-up-volume-btn{
            color: #f1c40f;
            border-color: #f1c40f;
        }
        .pop-up-info-btn{
            color: aqua;
            border-color: aqua;
        }
        .pop-up-fullscreen-btn{
            color: plum;
            border-color: plum;
        }
        .pop-up-fullscreen-btn,
        .pop-up-info-btn,
        .pop-up-volume-btn{
            background-color: transparent;
            border-width: 0.3vh;
            border-radius: 0.5vh;
        }

        /* */
        .pop-up-bet-btns{
            color: white;
            height: 70%;
            flex-direction: column;
            justify-content: space-around;
           
        }
        .pop-up-bet-lines-bet,
        .pop-up-denomination-value,
        .pop-up-bet-btn-holder{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20%;
            width: 80%;
            
        }
     
        .pop-up-denomination-value,
        .pop-up-bet-lines-bet{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
      
        .pop-up-denomination-value-p,
        .pop-up-bet-lines-p,
        .pop-up-bet-label{
            height: 40%;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 1em;
        }
        .pop-up-denomination-value-div,
        .pop-up-bet-lines-div{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid white;
            height: 60%;
            width: 100%;
            font-size: 0.9em;
        }
        .pop-up-bet-btn-holder{
            flex-direction: column;
        }
        .pop-up-bet-btn-wrapper{
            display: flex;
            border: 2px solid white;
            font-size: 0.9em;
            width:100%;
            padding: 0 2%;
            height: 60%;
            align-items: center;
            justify-content: space-between;
      
        }
       
        .pop-up-decrease-bet{
            width: 12%;
            height: 80%;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: transparent;
            color: red;
        }
        .pop-up-increase-bet{
            font-size: 1em;
            width: 12%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: transparent;
            color: lime;
        }
        .pop-up-bet-info-container{
            color: white;
            height: 10%;
            justify-content: space-evenly;
        }
     
        .pop-up-bet--info-label{
            display: flex;
            align-items: center;
            width: max-content;
            height: 100%;
        }
        .pop-up-bet-info-text{
            
        }
        .btn-pop-up-close{
            color: white;
            background-color: transparent;
            width: 10%;
            height: 60%;
        }

        
       
       
}